<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DevIdol | Change Password</title>

    <style>
      h1 {font-weight: 500; font-size: 16px; }
      pre.link {white-space: nowrap;
      padding: 10px; background:#cfcbcb80; font-size: 12px; border-radius: 4px;
      overflow-x: hidden;}
    </style>
  </head>
  <body>
    <h1>{{title}}</h1>
    <pre class="link">
      {{text}}
    </pre>
    <p>Thanks,</p>
    <p>The DevIdol account team.</p>
  </body>

</html>