Doctype
  html
    head
      link(
        rel="icon"
        type="image/jpeg"
        href="../assets/icon.jpeg"
        )
      title Day08 | Express Template
    body
      h1 BIB Nodejs Group
      ul
        li Thein Naing Oo - Trainer
        li Ye Thiha - Sub-Trainer
        li Ha Shing Thang - Trainee
        li Mya Pyae Mon - Trainee
        li Myo Min Khant - Trainee
        li Aung Kyaw Soe Oo - Trainee
      ul 
footer
  p Copyright &copy; 2022