html
  head
    title Login
  body
  div(class = "wrapper")
    h2 Login
    form(action = "/login" method = "POST")
    input(name = "name" type = "text" required placeholder = "Username")
    input(name = "password" type = "password" required placeholder = "Password")
    button(type = "Submit") Log in