html
  head
    title Register
  body
    h2 Register
      form(action = "/signup" method = "POST")
      input(name = "name" type = "text" required placeholder = "Username")
      input(name = "password" type = "password" required placeholder = "Password")
      button(type = "Submit") Register